body {
    padding-top: 50px;
    background-color: lightgray;
}

.starter-template {
    padding: 40px 40px;
    background-color: white;
}

.color-talk {
    color: lightseagreen;
}

.color-wrench {
    color: steelblue;
}

.color-heart {
    color: plum;
}

.icon-size {
    font-size: 200%;
}

.jumbotron {
    background-image: url("images/pattern.png");
    color: white;
}

.work-row {
    margin-bottom: 40px;
}

.carousel {
    min-height: 600px !important;
}

.carousel img {
    height: 700px;
    width: auto;
    max-height: 700px;
}
