body {
    padding-top: 50px;
    background-color: lightgray;
}

.starter-template {
    padding: 40px 40px;
    background-color: white;
}

.color-talk {
    color: lightseagreen;
}

.color-wrench {
    color: steelblue;
}

.color-heart {
    color: plum;
}

.icon-size {
    font-size: 200%;
}

.jumbotron {
    background-image: url("../images/pattern.png");
    color: white;
}

.work-row {
    margin-bottom: 40px;
}

.carousel {
    min-height: 600px !important;
}

.carousel img {
    height: 700px;
    width: auto;
    max-height: 700px;
}

.carousel{
    height: 200px;
    margin:auto;
}

.carousel .item {
    height: 100%;
}
  
.carousel img {
    position: absolute;
    width: 100%;
}

@media (min-width: 350px) {
    .carousel,
    .carousel .item,
    .carousel .item-mask,
    .carousel-inner .item .item-mask img {
        height:700px;
    }
}

.icon-container {
    width: 100%;
    position: relative;
}

.icon-container img {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.youtube-video {
    width: 100%;
}

.screenshot {
    width: 100%;
    border: 1px solid gray;
}